body {
  margin: 0;                      /* elimina el margin por defecto */
  padding: 0;                     /* elimina el padding por defecto */
  color: #fff;                  /* Color del texto */
  background-color: #000;       /* Color de fondo de la página */
  font-family: Arial, sans-serif; /* Es par cambiar la fuente de el texto */
}

.contenedor {
  padding: 0;
  width: 100vw;               /* es el ancho del contenedor */
  min-height: 100vh;          /* es la altura mínima del contenedor */
  box-sizing: border-box;     /* para que el padding no afecte al ancho y alto del contenedor */
  border: solid 2px white;  /* Borde del contenedor */
}

.nav {
  width: 100vw;
  margin-bottom: 32px;
}
.nav marquee p {
  gap: 16px;         /* espacio entre los elementos */
  display: flex;      /* para que el texto se muestre en una sola línea */
  color: #fff;        /* Color del texto */
  font-size: 1.2rem;      /* Tamaño del texto */
  align-items: center;       /* Alinea el texto verticalmente */
  font-family: Comic Sans MS; /* Cambia la fuente del texto */
  border: solid 2px #fff; /* Borde del contenedor */
  width: fit-content;     /* Ajusta el ancho al contenido */
  border-radius: 5px;     /*  bordes redondeados  */
}

.bloque-personaje {
  gap: 32px;      
  width: 100vw;
  display: flex;       /* para que los elementos se muestren en una sola línea */
  padding: 0 5vw; /* padding del contenedor */
  min-height: 60vh; /* altura mínima del contenedor */
  margin-bottom: 40px; /* espacio entre los bloques */
  align-items: center;  /* Alinea los elementos verticalmente */
  box-sizing: border-box;   /* para que el padding no afecte al ancho y alto del contenedor */
}

.bloque-personaje img {
  width: 0;
  height: 60vh;
  flex: 1 1 50%; 
  display: block; /* para que la imagen se muestre como un bloque */
  background: rgb(0, 0, 0); 
  object-fit: contain; /* para que la imagen se ajuste al contenedor */
  border-radius: 12px; /* Bordes redondeados */
  border: solid 3px #fff; /* Borde de la imagen */
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.667);  /* Sombra de la imagen */
}

.endogeny-bloque {
  flex-direction: row-reverse;   /* Para que la imagen esté a la derecha del texto */
}

.Papyrus-bloque {
  flex-direction: row-reverse; 
}

.parrafo {
  margin: 0;       
  min-width: 0;
  padding: 24px;   
  flex: 1 1 50%;     /* para que el texto ocupe el 50% del ancho del contenedor */
  color: #fff;
  line-height: 1.6;   /* Espacio entre líneas */
  font-size: 1.2rem;  
  text-align: justify;  /* Alinea el texto a la izquierda */
  border-radius: 10px;  /* Bordes redondeados */
  box-sizing: border-box;   /* para que el padding no afecte al ancho y alto del contenedor */
  border: solid 2px #fff;
  font-family: Comic Sans MS; /* Cambia la fuente del texto */
  box-shadow:0 0 12px #222a; /* Sombra del texto */
}

@media (max-width: 900px) { /* @media se usa para que ajuste el tamaño de la pantalla de pc y movil */
  .bloque-personaje {      
  gap: 24px;           /* espacio entre los elementos */
  padding: 0 2vw;          /* padding del contenedor */
  min-height: unset;     /* para que la altura mínima del contenedor se ajuste al contenido */
  flex-direction: column; /* para que los elementos se muestren en una sola columna */
  }

  .bloque-personaje img,
  .parrafo {
  height: auto;  /* para que la imagen y el texto se ajusten al contenido */
  min-height: 200px;  /* altura mínima de la imagen y el texto */
  width: 100% !important; /* para que la imagen y el texto ocupen el 100% del ancho del contenedor */
  }
}
